.bar {
  display: inline-block;
  width: 20px;
  height: 75px;
  background-color: teal;
  margin-right: 2px;
}


path {
  stroke: white;
  stroke-width: 0.25px;
  fill: black;
}

.stroke {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}

.fill {
  fill: #fff;
}